.navigation {
  padding: 4rem 6rem 0;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & figure {
    width: 4.5rem;
    height: 4.5rem;
    overflow: hidden;
    cursor: pointer;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  & ul {
    flex-basis: 40%;
    list-style: none;
    display: flex;
    justify-content: space-between;

    & li {
      font-size: $default-font-size;
      color: $secondary-color;
      padding: 0.5rem;
      cursor: pointer;
      border-bottom: 0.2rem solid transparent;
      border-left: 0.2rem solid transparent;
      border-radius: 0.5rem;
      transition: all 0.3s;

      &:hover {
        border-bottom: 0.2rem solid $tertiary-color;
        border-left: 0.2rem solid $tertiary-color;
      }
    }
  }
}
.sticky {
  position: fixed;
  background-color: rgba(44, 44, 44, 0.8);
  z-index: 100;
  padding: 1rem 6rem !important;
}
