.project {
  height: 30rem;
  border: 0.1rem solid $tertiary-color;
  position: relative;

  &__title,
  &__stack {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    font-size: $default-font-size;
    color: $secondary-color;
  }
  &__title {
    top: 2%;
  }
  &__stack {
    bottom: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &--item {
      padding: 1rem;
      margin: 0.3rem;
      border: 0.1rem solid $tertiary-color;
      border-radius: 10rem;
      background-color: $tertiary-dark-color;
    }
  }
}
