$primary-color: #000;
$primary-very-light-color: rgb(195, 190, 190);
$primary-light-color: rgb(62, 61, 61);
$secondary-color: #fff;
$secondary-light-color: rgb(237, 228, 228);
$tertiary-color: #e7db2e;
$tertiary-light-color: #dfd661;
$tertiary-dark-color: #c6bb1c;

$default-font: "Montserrat", sans-serif;
$default-font-size: 1.6rem;

$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
