$primary-color: #000;
$primary-very-light-color: rgb(216, 209, 209);
$primary-light-color: rgb(62, 61, 61);
$secondary-color: #fff;
$secondary-light-color: rgba(241, 241, 241, 0.945);
$tertiary-color: #e7db2e;
$tertiary-light-color: #dfd661;
$tertiary-dark-color: #c6bb1c;

$default-font: "Montserrat", sans-serif;
$default-font-size: 1.6rem;

$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

$bp--smallest: 500px;
